.cards__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 73vh);
  overflow-y: scroll;
  row-gap: 50px;
  column-gap: 10px;
  padding: 50px 5px;
  height: 86vh;
}

.card {
  &__cont {
    flex-direction: column;
    border: 2px solid black;
    padding: 30% 0;
    background: #add8e6;
    box-shadow: inset 0 0 5px 2px black;
    cursor: pointer;
  }

  &__img {
    height: 60%;
  }

  &__text {
    padding: 0 15px;
    text-align: center;
  }

  &__title, &__tag {
    padding-top: 20px;
  }
}

.selected {
  background: #007152;
  color: #add8e6;
}